---
layout: page
---
<div class="post">
  <article>
    {% if page.profiles %}
      {% for profile in page.profiles %}
        <hr>
        <div style="display: flex; align-items: flex-start; gap: 2rem; flex-direction: {% if profile.align == 'right' %}row-reverse{% else %}row{% endif %};">
          {% if profile.image %}
            <div class="profile" style="flex-shrink: 0; width: 200px;">
              {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
              {% if profile.image_circular %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
              {% else %}
                {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
              {% endif %}
              {% capture sizes %}(min-width: {{ site.max_width }}) 200px, 30vw{% endcapture %}
              {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=profile.image %}
            </div>
          {% endif %}

          <div style="flex: 1;">
            {% if profile.content %}
              {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
              {{ profile_content | markdownify }}
            {% else %}
              {{ content }}
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </article>
</div>
